.spot-details-container {
  gap: 20px;
  padding: 20px 0;
}

.spot-details-spot-location {
  width: 100%;
}

.details-and-reserve {
  /* gap: 13.19vw; */
  justify-content: space-between;
}

.host-and-description {
  gap: 10px;
  width: 60%;
}

.host-text {
  font-size: 1.8rem;
}

.spot-description-text {
  padding-right: 15%;
}

.reservations-callout {
  align-self: center;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 0.6em;
  justify-content: center;
  max-height: 160px;
  padding: 40px 2.21%;
  width: 45%;
}

.reservations-callout > .reservation-spot-details > .price {
  width: 40%;
}
