#modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#modal-content {
  background-color: white;
  border-radius: 0.5em;
  max-width: 600px;
  padding: 30px 20px;
  position: absolute;
  top: 100px;
  width: 49.56vw;
}

#modal-content .form-container,
#modal-content .form-container input,
#modal-content .form-container label {
  width: 100%;
}

#modal-content .form-container {
  margin-top: 20px;
}

#modal-content input {
  background: rgba(0, 128, 0, 0.1);
}

@media screen and (max-width: 575px) {
  #modal-content {
    margin: auto;
    max-width: var(--mobile-modal-max-width);
    width: var(--main-container-width);
  }
}
