.profile-dropdown {
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: 5px 70px 5px 20px;
  position: absolute;
  right: 20px;
  top: 58px;
  z-index: 999;
}

.profile-dropdown.flex-container.col {
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.signup-button:hover,
.login-button:hover,
.logout-button:hover,
.manage-options-redirect:hover {
  cursor: pointer;
}

.profile-dropdown.hidden {
  display: none;
}

.logout-button {
  margin-top: 15px;
}

.logged-in-user-menu {
  gap: 10px;
}
