.spot-form,
.spot-form-section-1,
.spot-form-section-2,
.spot-form-section-3,
.spot-form-section-4,
.spot-form-section-5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spot-form {
  gap: 20px;
}

.form-field,
.form-field > label,
.form-field > label > input,
.form-field > label > textarea {
  width: 100%;
}

.form-field + .form-field,
.split-input-row {
  margin-top: 20px;
}

.split-input-row {
  justify-content: space-between;
}

.form-field-half-row {
  width: 49%;
}
