.spot-form,
.spot-form-section-1,
.spot-form-section-2,
.spot-form-section-3,
.spot-form-section-4,
.spot-form-section-5 {
  display: flex;
  flex-direction: column;
}

.spot-form {
  gap: 20px;
}

.spot-form-main-heading {
  margin-bottom: 20px;
}

.spot-form-section-introduction {
  margin-bottom: 10px;
}

.spot-form-heading {
  font-size: 1.6rem;
}

.spot-form-section-caption {
  font-size: 1.3125rem;
  padding: 5px 0;
}

.spot-form-section-1-caption {
  padding-right: 12%;
}

.form-field,
.form-field > label,
.form-field > label > input,
.form-field > label > textarea {
  width: 100%;
}

.label-error-row {
  margin-bottom: 3px;
}

.form-field + .form-field,
.split-input-row {
  margin-top: 20px;
}

.split-input-row {
  justify-content: space-between;
}

.form-field-half-row {
  width: 49%;
}

.price-input-container {
  padding-left: 20px;
  position: relative;
}

.dollar-sign {
  font-size: 1.4rem;
  left: 0;
  position: absolute;
  top: 7%;
}
