.reservations-container {
  border: 2px solid var(--black);
  border-radius: 0.6em;
  padding: 20px;
}

.reservation-spot-details {
  gap: 50px;
}

.reservation-spot-details .right-side {
  gap: 12px;
}
