.review {
  gap: 10px;
}

.review:not(:last-of-type) {
  margin-bottom: 40px;
}

.review-title-and-stars {
  align-items: center;
  gap: 0.5vw;
}

.review-title-and-stars .star-icons .star-icon {
  align-items: center;
  color: var(--green);
  display: flex;
}

.review-title-and-stars .star-icons .star-icon:hover {
  cursor: initial;
}

.review-date {
  color: var(--dark-gray);
}

.review-text {
  padding-right: 50%;
}

.review-control-buttons {
  gap: 1.17vw;
  margin-top: 15px;
  width: fit-content;
}

.review-control-button.post-review-button.small-button {
  margin-top: 20px;
}

.review-control-button.small-button {
  margin: 0;
}
