.nav-bar,
.nav-list-container,
.logged-in-nav-list {
  align-items: center;
}

.nav-bar {
  border-bottom: 2px solid var(--light-gray);
  height: 75px;
}

.nav-list-container {
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.logged-in-nav-list {
  gap: 20px;
}

.create-spot {
  color: var(--green);
}
